
process {

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 2.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 1     * task.attempt }
        memory = { 2.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 1    * task.attempt }
        memory = { 4.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 3    * task.attempt }
        memory = { 11.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_medium_memory {
        memory = { 30.GB }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 60.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
}
